@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* navbar Styling */
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    /* background-color: rgb(189, 243, 107);  */
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(189, 243, 107);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.navbar .logo a span{
    color:  rgb(189, 243, 107);
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.3s ease;
}

.navbar .menu li a:hover{
    color: chartreuse;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}

/* Body styling */

.home{
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/20211119_133911.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    min-height: 100%;
    font-family: 'Ubuntu';
}

.home .max-width{
    margin: auto auto ;
}

.home .home-content .text{
    font-size: 75px;
    font-weight: 600;
    margin-left: 0px;
}

